<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="ITConnect" content="width=device-width, initial-scale=1.0">
    <title>"ITConnect"</title>
    <link rel="stylesheet" href="libs/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="libs/bootstrap-grid.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin >
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!-- Подключение внешнего CSS-файла -->
    <link rel="stylesheet" href="/css/achievements.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<%- include('portfolioHeader'); -%>
<main class="page-main">
    <div class="flow1">
        <div class="container">
            <% if(user.description.avatar) {%>
                <img src="data:image/jpeg;base64,<%= user.description.avatar %>" alt="Profile Picture" id="profilePic" class="users item">
            <% } else {%>
                <img src="/img/users.png" alt="Profile Picture" id="profilePic" class="users item">
            <% } %>
            <style>
                .users{
                    border-radius: 55px;
                }
            </style>
            <div class="container_1">
                <div class="item">
                    <a href="/discription.html" class="item1 description">Описание</a>
                </div>
                <div class="item">
                    <a href="/display-contactInfo.html" class="item1 contact-link">Контактная информация</a>
                    <input type="tel" class="contact-input" style="display: none;" placeholder="+7">
                </div>
                <div class="item">
                    <a href="#" class="item1 achievements-link">Достижения</a>
                    <input type="file" class="achievements-input" style="display: none;">
                </div>
                <div class="item">
                    <a href="/display-project.html" class="item1 projects-link">Проекты</a>
                </div>
                <div class="line"></div>
            </div>
            <div class="favorite">
                <a href="/portfolio/success/edit"><button class="redactor item" id="editButton" ><span>Редактировать</span></button></a>
                <button class="favor item" id="editButton" style="display: none;"><span>В избранном</span></button>
                <button class="star item" id="editButton" style="display: none;"><span><img src="/img/Star1.png" alt="star-img" class="star-img"></span></button>
                <button class="name item" id="" ><span><%=user.name%></span></button>
                <button class="old item" id="" ><span>Возраст: <%=user.contacts.age%></span></button>
            </div>
        </div>
    </div>
    </div>
    <div class="container-sertificat">
        <div class="img-sertificat">
            <%for(let certificate of user.success.fixedCertificates) {%>
                <img src="data:image/jpeg;base64,<%= certificate %>" width="242" height="171" alt="Profile Picture" id="profilePic">
            <%}%>
        </div>
    </div>

</main>
<%- include('portfolioFooter'); -%>
</body>